.form {
    margin-left: 50px;
    margin-right: 50px;
}
.thread {
    margin-left: 50px;
    margin-right: 50px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}
.comment {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 35px;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    color: #09a;
}