{% extends "base.html" %}
{% block select %}
<form class="form-inline" name="sort_type" action="/sorted" method="GET">
    <div class="form-group mx-sm-3">
        <select class="form-control" name="sort_type">
            <option value="time">Сортировать по новизне</option>
            <option value="like">Сортировать по количеству лайков</option>
            <option value="view">Сортировать по количеству просмотров</option>
            <option value="comment">Сортировать по количеству комментариев</option>
        </select>
    </div>
    <button class="btn btn-info" type="submit">Сортировать</button>
</form>
{% endblock %}

{% block content %}
<br/><br/>
{% for item in threads|reverse %}
    <div class="thread">
        <a href="/thread/{{ item.id }}"><h4>{{ item.title }}</h4></a>
        <p>Автор: <a target="_blank" href="/profile/{{ item.user_id }}">{{ item.user.name }} {{ item.user.surname }}</a> |
        {% for tag in item.categories %}
            {% if tag.name == "education" %}
                <a href="/tagged_threads/education" class="btn btn-info" style="color: #fff;">#education</a>
            {% elif tag.name == "akr" %}
                <a href="/tagged_threads/akr" class="btn btn-primary" style="color: #fff;">#akr</a>
            {% elif tag.name == "olympiads" %}
                <a href="/tagged_threads/olympiads" class="btn btn-success" style="color: #fff;">#olympiads</a>
            {% else %}
                <a href="/tagged_threads/else" class="btn btn-warning" style="color: #fff;">#else</a>
            {% endif %}
        {% endfor %}<br/>
        {% if current_user.is_authenticated %}
            <a href="/like_thread/{{ item.id }}">
                {% if func(likes, item) %}
                    <img src="/static/img/liked.png" width="17px" height="17px">
                {% else %}
                    <img src="/static/img/like.png" width="17px" height="17px">
                {% endif %}
            </a>
        {% else %}
            <img src="/static/img/like.png" width="17px" height="17px">
        {% endif %} {{ item.like_count }} | Комментарии {{ item.comment_count }} | Просмотры {{ item.comment_count }}</p>
        {% if current_user.is_authenticated and current_user == item.user %}
            <a href="/thread_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
        {% endif %}
    </div>
    <br>
{% endfor %}
    {% if current_user.is_authenticated %}
        <a href="add_thread" class="btn btn-secondary form">Создать тред</a>
    {% endif %}
{% endblock %}