{% extends "base.html" %}
{% block select %}
<form class="form-inline" name="sort_type" action="/sorted" method="GET">
    <div class="form-group mx-sm-3">
        <select class="form-control" name="sort_type">
            <option value="time">Сортировать по новизне</option>
            <option value="like">Сортировать по количеству лайков</option>
            <option value="view">Сортировать по количеству просмотров</option>
        </select>
    </div>
    <button class="btn btn-info" type="submit">Сортировать</button>
</form>
{% endblock %}

{% block content %}
<br/><br/>
{% for item in threads|reverse %}
    <div class="thread">
        <a href="/thread/{{ item.id }}"><h5>{{ item.title }}</h5></a>
        <p>нравится {{ item.like_count }} комментариев {{ item.comment_count }} просмотров {{ item.view_count }}</p>
        {% if current_user.is_authenticated and current_user == item.user %}
                <a href="/thread_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a href="/like_thread/{{ item.id }}"><img src="/static/img/like.png" height="20px" width="20px" align="right"></a>
        {% endif %}
    </div>
    <br>
{% endfor %}
    {% if current_user.is_authenticated %}
        <a href="add_thread" class="btn btn-secondary form">Создать тред</a>
    {% endif %}
{% endblock %}