{% extends "base.html" %}
{% block content %}
<br>
<div class="form"><a href="/add_comment/{{thread.id}}"><h2 align="center">{{ thread.title }}</h2></a></div>
<p align="center">нажмите чтобы оставить комментарий</p>
<hr/>
{% for comm in comments %}
<div class="comment">
    <p>{{ comm.user.name }} {{ comm.user.surname }}: "{{ comm.text }}"</p>
    {% if current_user.is_authenticated and current_user == comm.user %}
        <a href="/comment_edit/{{ comm.id }}" class="btn btn-warning">Изменить</a>
        <a href="/comment_delete/{{ comm.id }}" class="btn btn-danger">Удалить</a>
    {% endif %}
</div>
{% endfor %}
{% endblock %}